<header class="navbar navbar-expand-lg navbar-light" id="header">
  <a class="navbar-brand" href="/">あつまれどうぶつの森 チェックリスト</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-fill">
      <li class="nav-item flex-fill text-center">
        <a class="nav-link" href="/">ホーム</a>
      </li>
      <li class="nav-item flex-fill text-center">
        <a class="nav-link" href="/bug">ムシ</a>
      </li>
      <li class="nav-item flex-fill text-center">
        <a class="nav-link" href="/fish">サカナ</a>
      </li>
      <li class="nav-item flex-fill text-center">
        <a class="nav-link" href="/fossil">かせき</a>
      </li>
      <li class="nav-item flex-fill text-center">
        <a class="nav-link" href="/about">このサイトについて</a>
      </li>
      <li class="nav-item flex-fill text-center">
        <% if (user) { %>
          <img src="<%= user.photos[0].value %>" class="twitter-icon">
          <%= user.username %>
        <% } else { %>
          <a class="nav-link" href="/login">Twitterアカウントでログイン</a>
        <% } %>
      </li>
      <% if (user) { %>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="/logout">ログアウト</a>
        </li>
      <% } %>
    </ul>
  </div>
</header>