body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table {
  border: tomato;
}

.about-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.background {
  background-color: rgba(0, 0, 0, 0.12);
}

.getted {
  background-color: #bdf4d8 !important;
}

.hover-none tr:hover {
  background-color: transparent !important;
}

.is-positive {
  background-color: #528161 !important;
  color: #fff;
}

.item-card {
  margin-bottom: 1rem;
}

.item-img {
  width: 128px;
}

.margin-row {
  margin: 1rem 0;
}

.message {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  margin: 1rem 0;
}

.monthly-table {
  table-layout: fixed;
}

.navbar {
  background-color: #89caa2 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.7) !important;
}

.not-login {
  color: #bd3d33;
}

.social-img {
  width: 3rem;
  vertical-align: middle;
}

.table-text {
  font-size: 1rem;
}

.table-timezone {
  min-width: 300px;
}

.table-subheading-text {
  background-color: #7f8c8d !important;
  color: #fff;
  font-size: 1.2rem;
}

.twitter-icon {
  height: 80%;
}

@media (min-width: 1200px) {
  .ad {
    padding: 0 30%;
  }
}

@media (max-width: 1200px) {
  .ad {
    width: 100%;
  }

  .item-img {
    width: 64px;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }
}
