body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


table {
  border: tomato;
}

.ad {
  padding: 0 30%;
}

.background {
  background-color: rgba(0, 0, 0, 0.12);
}

.getted {
  background-color: #bdf4d8 !important;
}

.hover-none tr:hover {
  background-color: transparent !important;
}

.is-positive {
  background-color: #528161 !important;
  color: #fff;
}

.margin-row {
  margin: 1rem 0;
}

.message {
  color: #bd3d33;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.navbar {
  background-color: #89caa2 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.7) !important;
}

.success-message {
  color: rgba(0, 0, 0, 0.7) !important;
}

.table-text {
  font-size: 1rem;
}

.table-subheading-text {
  background-color: #7f8c8d !important;
  color: #fff;
  font-size: 1.2rem;
}

.twitter-icon {
  height: 80%;
}

@media (max-width: 1200px) {
  .ad {
    width: 100%;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }
}
